.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.panel {
	width: 18%;
	border: 1px solid black;
	padding: 10px;
	transition: width 0.5s;
}

.panel.expanded {
	width: 40%;
}


