.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.panel {
	width: 18%;
	border: 1px solid black;
	padding: 10px;
	transition: width 0.5s;
}

.panel.expanded {
	width: 40%;
	background-image:url('https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
}


